@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --navcolor: rgb(182, 224, 240);
}

html{
    overflow-x: hidden;

}
body{
    overflow-x: hidden;
}

.header{
    padding: 1.8rem;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navcolor);

}
.ullist{
    display: flex;
    list-style:none;
    gap: 2rem;

}

.navbar-links:link,
.navbar-links:visited{
    text-transform: uppercase;
    display:inline-block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all 0.3s;
}

.navbar-links:active,
.navbar-links:hover{
    color:blue;
}
.mobile-navbar-btn{
    background-color: transparent;
    cursor: pointer;
    display:none;
}
.mobile-nav-icon{
    height: 30px;
    width: 30px;
}
.mobile-nav-icon[name="close-circle-outline"]{
    display: none;
}


.section-hero,
.section-service{
    height: 60vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 1rem;
}
.section-hero{
    background-color: rgb(215, 233, 241);
}
.section-service{
    background-color: rgb(215, 218, 241);
}

@media (max-width: 900px) {
    .mobile-navbar-btn{
        display:block;
        z-index: 99;
    }
    .header{
        position: relative;
    }
    .navbar{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background-color:  rgb(215, 233, 241);
        position: absolute;
        top:0;
        left:0;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translatex(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ullist{
        flex-direction: column;
        align-items: center;
    }
    .active .navbar{
        transform: translatex(0);
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
    .active .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }
    .active .mobile-nav-icon[name="close-circle-outline"]{
        display: block;
    }
    .mobile-nav-icon[name="menu-outline"],.mobile-nav-icon[name="close-circle-outline"]{
        height: 50px;
        width: 50px;
    }

}

@media (max-width: 35em) {
    .mobile-nav-icon[name="menu-outline"],.mobile-nav-icon[name="close-circle-outline"]{
        height: 30px;
        width: 30px;
    }
}